@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: theme("colors.brand.primary");
  --brand-secondary: theme("colors.brand.secondary");
  --brand-tertiary: theme("colors.brand.tertiary");
  --background: var(--brand-primary);
  --foreground: var(--brand-tertiary);
  --foreground-dark: theme("colors.bodyText");
  --font-heading: var(--font-heading);
  --container-padding: 1.5rem;
  --header-padding-y: 1.5rem;
}

@media (min-width: theme("screens.tablet")) {
  :root {
    --container-padding: 2rem;
    --header-padding-y: 2rem;
  }
}

@media (min-width: theme("screens.small")) {
  :root {
    --container-padding: 3rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

body:not(.page-home) > .main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8rem;
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}

/* Container utility class */
.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: theme("screens.large");
  margin: 0 auto;
}

.box {
  border-radius: 1.25rem;
  border: 1px solid theme("colors.brand.tertiary");
}

.border-none {
  border: none;
}

.neon-border-secondary {
  border: 2px solid theme("colors.brand.secondary");
  box-shadow: 0 0 24px 2px theme("colors.brand.secondary");
}

.neon-border-tertiary {
  border: 1px solid theme("colors.brand.tertiary");
  box-shadow: 0 0 24px 2px theme("colors.brand.secondary");
}

.neon-border-yellow {
  border: 2px solid theme("colors.yellow");
  box-shadow: 0 0 24px 2px theme("colors.yellow");
}

.section-title b,
.block-title b {
  color: theme("colors.brand.secondary");
  font-weight: 700;
}

/* Footer styles */

footer .top-section .section-logo a {
  margin: 0 auto;
}

footer .top-section .section-logo p {
  text-align: center;
}

footer .top-section .section-contacts {
  width: fit-content;
  margin: 0 auto;
}

footer .top-section .section-contacts .text-base {
  width: fit-content;
}

footer .bottom-section {
  text-align: center;
}

@media (min-width: theme("screens.tablet")) {
  footer .top-section .section-logo a {
    margin: 0;
  }

  footer .top-section .section-logo p {
    text-align: left;
  }

  footer .top-section .section-contacts {
    margin: 0;
  }
}

.grecaptcha-badge {
  display: none;
}
