/* Home page specific styles */

.home-section {
  min-height: 100vh;
  padding: 100px 0;
}

/* Intro section styles */
.home-intro-content b, .home-about-content b {
  color: var(--brand-secondary);
  font-weight: 700;
}

.home-intro-content b {
  display: block;
}

#home-intro {
  --intro-top-offset: calc(-240px - (100vw - 360px) * 0.93);
}

.u-strips-responsive {
  top: var(--intro-top-offset);
}

@media (min-width: theme('screens.desktop')) {
  .u-strips-responsive {
    top: auto;
    bottom: 20vh;
  }
}

/* .u-strips-responsive {
  bottom: 20vh;          
}

@media (max-height: 500px) {
  .u-strips-responsive {
    bottom: 10vh;          
  }
}

@media (min-width: 1440px) and (min-height: 900px) and (min-aspect-ratio: 4/3) {
  .u-strips-responsive {
    bottom: auto;
    top: -400px;
  }
} */

/* Challenge section styles */
#home-challenge .background-gradient {
  background-image: url('/img/home-challenges-gradient.png');
  background-repeat: no-repeat;
}

#home-challenge .background-gradient-left {
  background-size: 150% auto;
  background-position: -50vw 0;
}

#home-challenge .background-gradient-right {
  background-size: 120% auto;
  background-position: 20vw 15vh;
}

#home-challenge .box-data .item-icon {
  width: 60px;
  height: 60px;
  bottom: -20px;
  right: -20px;
}

.home-services-content .block-combined {
  background-color: var(--brand-primary);
}

.home-services-content .block-combined .texts {
  padding: 0 1.5rem 3rem;
}

@media (min-width: theme('screens.tablet')) {
  .home-services-content .block-combined {
    padding: 80px;
  }

  .home-services-content .block-combined .texts {
    padding: 0;
  }
}

.home-services-content .block-combined .texts p {
  color: var(--brand-tertiary);
  font-weight: 300;
}

.home-services-content .box-image {
  left: 50%;
  transform: translateX(-50%);
}

.home-services-content .gradient.animate-fade-in-down + .box-image {
  animation: fadeInUpCentered 2s ease-in-out forwards .5s;
}

.home-services-content .gradient.animate-fade-in-down + .box-image-service-web {
  animation: fadeInDownCentered 2s ease-in-out forwards .5s;
}

@keyframes fadeInUpCentered {
  0% { opacity: 0; transform: translate(-50%) translateY(10%); }
  20% { opacity: 0; }
  100% { opacity: 1; transform: translate(-50%) translateY(0); }
}

@keyframes fadeInDownCentered {
  0% { opacity: 0; transform: translate(-50%) translateY(-10%); }
  20% { opacity: 0; }
  100% { opacity: 1; transform: translate(-50%) translateY(0); }
}

#home-process {
  padding-bottom: 0;
  min-height: 0;
}

#home-process .background-gradient {
  background-image: url('/img/home-challenges-gradient.png');
  background-size: 150% 200%;
  background-repeat: no-repeat;
  background-position: 30% 15%;
}

#home-process .home-process-content-title {
  text-align: center;
}

@media (min-width: theme('screens.desktop')) {  
  #home-process .home-process-content-title br {
    display: none;
  }
}

.section-title-process {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.section-title-process.visible {
  opacity: 1;
}

.home-process-content {
  transition: opacity 0.5s ease-in;
}

.home-process-items {
  position: relative;
}

.home-process-items::before {
  content: '';
  position: absolute;
  width: 1px;
  background-color: white;
  height: 100%;
  left: calc(50% - 0.5px);
  opacity: 0;
}

.home-process-items.line-complete::before {
  opacity: 1;
}

.home-process-items.line-complete .home-process-line {
  display: none;
}

.home-process-item {
  transform: scale(0);
  transition: transform .5s ease-out;
  z-index: 2;
  position: relative;
}

.home-process-item.animated {
  transform: scale(1);
}

.home-process-line {
  position: absolute;
  width: 1px;
  background-color: white;
  transform-origin: top center;
  height: 0;
  transition: height 600ms ease-out;
}

.home-process-content .home-process-content-cta,
.home-process-content .home-process-content-logo {
  transition: opacity 1s;
}

.home-process-content .home-process-content-cta {
  /* transition-delay: .6s; */
  pointer-events: auto;
}

.home-process-content .home-process-content-logo {
  transition-delay: .6s;
}

.home-process-content.items-complete .home-process-content-cta,
.home-process-content.items-complete .home-process-content-logo {
  opacity: 1;
}

#home-contact {
  min-height: 0;
}


/* Responsive animations - only apply on desktop */
@media (max-width: calc(theme('screens.desktop') - 1px)) {
  #home-challenge .animate-in-to-right,
  #home-challenge .animate-in-to-left,
  #home-challenge .animate-gear-to-left,
  #home-challenge .animate-lens-to-left,
  #home-challenge .animate-fade-in-delayed-web,
  #home-challenge .animate-fade-in-delayed-data {
    animation: fadeIn 2s ease-in-out forwards !important;
  }

  #home-process .section-title-process {
    opacity: 1 !important;
  }


  #home-process .home-process-items li {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }

  #home-process .home-process-content-cta {
    display: block;
    opacity: 1;
  }
}

@media (min-width: theme('screens.mobile-large')) and (max-width: calc(theme('screens.desktop') - 1px)) {
  #home-process .box-process-content p br {
    display: none;
  }
}