@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.brand.primary');
  --foreground: theme('colors.brand.tertiary');
  --brand-secondary: theme('colors.brand.secondary');
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
  --container-padding: 1rem;
}

@media (min-width: theme('screens.tablet')) {
  :root {
    --container-padding: 2rem;
  }
}

@media (min-width: theme('screens.small')) {
  :root {
    --container-padding: 3rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}

/* Container utility class */
.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: theme('screens.large');
  margin: 0 auto;
}
