@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f2f2;
  --foreground: #171717;
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
}

.dark {
  --background: #434c5e;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), Georgia, serif;
}
